/* back to KTMC  */
#back  {
  font-family: 'Raleway';
  padding: 20px; 
  margin-left: 50px; 
}

#back:hover {
  color:  rgb(36, 125, 167); 
  cursor: pointer;  
}

/* // message  */
  body {
    text-rendering: optimizeLegibility;
    webkit-font-smoothing:antialiased 
  }

  .bg {
    background-color: #2b2b2b;
    height: 100%;  
    padding:  30px; 
    display: flex;
  }
  
  .title {
    font-family: 'Raleway';
    color: #ffffff;
    text-align: left;
    font-size: 2.5em;
    margin-top: -5px;
  }
  
  .flex {
    margin: auto;
  }
  
  .para {
    font-family: 'Raleway';
    color: #ffffff;
    padding-top:  30px; 
    font-weight: 200;
    line-height: 1.8;
  }
  
  .preheading {
    font-family: 'Raleway';
    color: rgb(124, 175, 66);
    font-size: 30px; 
    letter-spacing: 2px;
    text-align: left;
    padding-top:  30px; 
  }
  
  h1.title, p {
    font-family: 'Raleway';  
    color: white;
    font-size: 18px;
  }
  /* // end of message */

  /*--- MODAL STYLES ---*/
#special-offer{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
  .close-button{
    text-decoration: none;
    color: #F2DFD5;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    left: 20rem;
  }
  
  .close-button:hover {
    cursor: pointer;
    color: black;
  }
  
  #offer-content{
    background: rgb(44, 44, 44);
      color: white;
      margin: auto;
      margin-top: 6rem;
      text-align: justify;
      border: 1px solid black;
      border-radius: 6px;
      padding: 1rem 2rem;
      width: 50rem;
      z-index: 999;
      box-shadow: 3px 3px 12px black;
  }
  
    #offer-content > h3{
      font-family: $logo-cursive;
      font-size: 3rem;
      position: relative;
      bottom: 23px;
    }
  
    #offer-content > p{
      font-family: $main-text-font;
      position: relative;
      bottom: 16px;
    }
  
    #signup-btn{
      background: #F2DFD5;
      color: #3B4B59;
      font-family: $main-text-font;
      width: 100%;
      padding: 3px 5px;
      border-radius: 3px;
      border: none;
    }
  
    #signup-btn:hover{
      background-color: white;
      font-weight: bold;
    }
  